<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/scripts/bootstrap/dist/css/bootstrap.min.css' />
  </head>
  <body ng-controller="baseController">

  <div class="container-fluid" style="overflow: auto;">
    <div ui-view="" style="padding:10px"></div>
  </div>
  <script src="/scripts/angular/angular.min.js"></script>
  <script src="/scripts/jquery/dist/jquery.min.js"></script>
  <script src="/scripts/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/scripts/@uirouter/angularjs/release/angular-ui-router.js"></script>
  <script src="/scripts/underscore/underscore-min.js"></script>
  <script src="/scripts/oclazyload/dist/ocLazyLoad.min.js"></script>
  <script src="/scripts/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>

  <script src="/app.js"></script>
</body>
</html>
