body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

 li {
    list-style:none;
}
.done_false {
    text-decoration: none;
    color: red;
}
.done_true {
    text-decoration: line-through;
    color: gray;
}
